.formSubmit {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 40px;
  margin: 24px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 600px;
  max-width: 100%;

  .btnSubmit {
    width: 100%;
  }

  .formTitle {
    text-align: center;
    font-size: 32px;
  }
}
